@import '/src/common/index.scss';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  // justify-content: center;
  // padding: 32px;
  gap: 96px;
  position: relative;
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    .hero__info {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @include for-size(tablet-portrait-up) {
        background: #fafafa;
        position: absolute;
        width: 514px;
        bottom: 0;
        left: 0;
        padding: 56px 56px 0 56px;
      }

      // @include for-size(desktop-up) {
      //   padding: 64px 164px 8px 164px;
      // }

      .hero__title {
        color: #33323d;
        font-family: $font-family-ibarra;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: -0.446px;
        @include for-size(tablet-portrait-up) {
          font-size: 40px;
          line-height: 42px; /* 105% */
          letter-spacing: -0.357px;
        }
      }
    }
  }
}

.hero__img {
  object-fit: cover;
  width: 311px;
  height: 271px;
  @include for-size(tablet-portrait-up) {
    width: 688px;
    height: 600px;
  }
  @include for-size(desktop-up) {
    width: 1110px;
    object-fit: cover;
  }
}
