@import url('https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css');
$primary-color: #5fb4a2;
$secondary-color: #fafafa;
$dark-blue: #203a4c;
$dark-blue-grayish: #33323d;
$light-gray: #d7d7d7;
$white: #fff;
$red: #f43030;
$font-family-ibarra: 'Ibarra Real Nova', serif;
$font-family-public: 'Public Sans', sans-serif;

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-public;
  font-style: normal;
  scroll-behavior: smooth;
}

main {
  @include for-size(tablet-portrait-up) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.body {
  padding: 32px;
  min-height: calc(100vh - 184px);
}

.links {
  text-decoration: none;
}

.interest {
  padding-bottom: 80px;

  @include for-size(tablet-portrait-up) {
    padding-bottom: 96px;
  }

  @include for-size(desktop-up) {
    padding-bottom: 150px;
  }
}
