$primary-color: #5fb4a2;
$secondary-color: #fafafa;
$dark-blue: #203a4c;
$dark-blue-grayish: #33323d;
$light-gray: #d7d7d7;
$white: #fff;
$red: #f43030;
$font-family-ibarra: 'Ibarra Real Nova', serif;
$font-family-public: 'Public Sans', sans-serif;

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-public;
  font-style: normal;
}

.content {
  padding: 32px;
}
